name: Check for Merge request

on:
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [lesson1, lesson6, lesson7]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4

      - name: Run module check
        run: ./gradlew ${{ matrix.module }}:check
        continue-on-error: true
